.container{
    border: 1px solid red;
    width: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse
    
    ;
}

.child-1{
    height: 100px;
    width: 100px;
    background-color: red;
}

.child-2{
    height: 100px;
    width: 100px;
    background-color: green;
}

.child-3{
    height: 100px;
    width: 100px;
    background-color: blue;
}